<h1 style="margin-bottom: 2rem">JSON to Angular Form</h1>

<div class="flex">
  <div class="mb-3">
    <input class="form-control" accept="application/json" type="file" id="formFile" (input)="onFileChange($event)">
  </div>
  <button type="button" [class]="!file ? 'btn btn-light' : 'btn btn-success'" [disabled]="!file" (click)="processJson()">Process</button>
</div>
<div class="flex">
  <select class="form-select" aria-label="Default select example" style="width: auto;"
          [formControl]="formStateSettings" (ngModelChange)="load$.next(true)">
    <option [value]="FormStateSettings[FormStateSettings.value]">just value</option>
    <option [value]="FormStateSettings[FormStateSettings.objectWithValue]">object with value property</option>
    <option [value]="FormStateSettings[FormStateSettings.objectWithoutValue]">object without value</option>
    <option [value]="FormStateSettings[FormStateSettings.empty]">empty</option>
    <option [value]="FormStateSettings[FormStateSettings.null]">value = null</option>
  </select>

  <div class="form-check" style="flex-shrink: 0;">
    <input class="form-check-input" type="checkbox" value="" id="types"
           [formControl]="typedFormSettings" (ngModelChange)="load$.next(true)">
    <label class="form-check-label" for="types">
      Add types for controls (since Angular 14)
    </label>
  </div>
</div>

<div class="generatedForm">
  <header class="flex space">
    <h2>{{fileName}}</h2>
    <button type="button" class="btn btn-light" (click)="copyToClipboard(code)">Copy to clipboard</button>
  </header>
  <div #code>
    myForm = new FormGroup(<code><span>&#123;</span><br></code>
    <ng-container *ngIf="(formElements$ | async) as elements">
      <app-form [elementsArray]="elements"></app-form>
    </ng-container>
    <code>&#125;</code>)
  </div>
</div>

<div class="toast" [hidden]="toastCopied">
  Copied
</div>


