.flex {
  display: flex;
  gap: 50px;
  justify-content: flex-start;
  align-items: baseline;
  margin-bottom: 1rem;

  &.space {
    transition: 1s ease-in-out;
    justify-content: space-between;
  }

  &.mobile-column {
    @media screen and (max-width: 900px) {
      flex-direction: column;
      gap: 20px;
    }
  }
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  align-items: start;
  @media (orientation: portrait) {
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr;
  }
}

.file-upload {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.block-with-border {
  border: 1px solid #03a9f46e;
  padding: 1rem;
  border-radius: 5px;
  margin-top: 2rem;
  flex-grow: 1;

  &.json {
    overflow: auto;
    background: #1a2538;
    box-shadow: 0 0 14px -3px cornflowerblue;
    pre {
      outline: none;
      white-space: pre-wrap;
      color: cornflowerblue;
    }
  }

  &.form {
    white-space: pre-wrap;
    overflow-wrap: anywhere;
    flex-grow: 1;
  }
}

.toast {
  height: 40px;
  color: black;
  font-size: 1.6rem;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
}
