@import "bootstrap/scss/bootstrap";

body {
  background: black;
  color: #ffffff;
  padding: 2rem;
  margin: 0;
  accent-color: #ff9800;
}

* {
  font-family: monospace;
}

code {
  font-size: 1rem !important;
}

.value {
  color: lightsteelblue;
}

.type {
  color: darksalmon;
}



